.input{
    height: 50px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(27, 27, 27);
    color: #fff;
    padding:5px;
    margin-bottom: 10px;
    box-shadow: -1px 4px 1px 1px white ;
}